body {
    background-color: grey;
    font-family: sans-serif;
}

/*h2 {*/
/*    color: white;*/
/*    font-family: 'Times New Roman', Times, serif;*/
/*    font-style: italic;*/
/*}*/

/*class version of css. rather than global*/
.myh2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.myh2 ul {
    font-size: 2rem;
}

.div1 {
    background-color: blue;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 2em;
    margin: 20px; /* is for space out of the box */
    padding: 30px; /* for space inside the box */
    border-radius: 10px;
}

.div2 {
    background-color: white;
    width: 200px;
    height: 200px;
    color: black;
    font-size: 2em;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;

    /* centering text*/
    text-align: center;
    display: flex;
    justify-content: center;

}